<h3>Trainer</h3>
<p><%= @trainer.name if @trainer.name %>, <%= @trainer.email if @trainer.email %></p>
<% if current_trainer.id == @trainer.id %>
  <%= button_to "Create new Pokemon", new_pokemon_path, :class => "button medium", :method => :get %>
  <br />
  <br />
  <% @trainer.pokemons.each do |p| %>
    <p>
      <%= p.name %>, lvl. <%= p.level %>. Health: <%= p.health %>
      <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
      <% if p.health < 100 %>
        <%= button_to "Heal", heal_path(id: p), :class => "button medium", :method => :patch %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <br />
  <br />
  <% @trainer.pokemons.each do |p| %>
    <% if p.health > 0 %>
      <p>
        <%= p.name %>, lvl. <%= p.level %>. Health: <%= p.health %>
        <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
      </p>
    <% end %>
  <% end %>
<% end %>
