<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% @trainer.pokemons.each do |p| %>
  <p>
    <%= p.name %>, lvl. <%= p.level %>. Health: <%= p.health %>, id: <%= p.id %>
    <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
  </p>
<% end %>
